.table-header.btn-primary{
  height: 20%;
  background-color: #ADA8B6;
  border-color: #f2f5f9;
}
.table-header.btn-primary:hover{
  background-color: #898591;
}

.fa {
  color: #48435C;
}

.fa:hover {
  color: #8980ad;
    text-decoration: none;
}


a:hover {
  text-decoration: underline;
}
